---

pagination:
    data: quiz
    size: 1
    alias: quiz
permalink: /quiz/{{ quiz.slug }}/
---
<form action="/.netlify/functions/quiz-process" method="post">
    {% for question in quiz.questions %}
    <div class="question">
        <h3>{{ question.question }}</h3>
        <ul>
            {% for answer in question.answers %}
            {% for value in answer.eeveeValues %}{{value.name}}={{value.value}}{% unless forloop.last %}&{% endunless %}{% endfor %}
                <li>
                    <label>
                        <input type="radio" name="{{ question._id }}" value="{% for value in answer.eeveeValues %}{{value.name}}={{value.value}}{% unless forloop.last %}&{% endunless %}{% endfor %}">
                        {{ answer.answerText }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
    <input type="submit" value="Submit">
</form>
